{% extends "index.html" %}
{% block container %}

<h2>Welcome to <b style="color: indigo"><i>TEXT -> HANDWRITING</i></b></h2>

{% if not img_name %}
    <form method="post" enctype="multipart/form-data" action="/">
        Choose Input Type:
        <input id="radio_file" class="ml-5" type="radio" onclick="toggleFileText()" name="inputtype" value="file"> File
        <input id="radio_text" class="ml-5" type="radio" onclick="toggleFileText()" name="inputtype" value="text" checked> Text
        <br><br>

        <input id="file" type="file" style="display: none;" name="file" autocomplete="off" accept="text/plain"><br>
        <textarea id="text" name="text" cols="80" rows="10" style="resize: none;overflow-y: scroll;padding: 10px;">Type text here!</textarea><br>

        <input class="btn btn-info mt-3" type="submit" value="Submit">
    </form>
{% else %}
    <img src="../static/output/{{ img_name }}.png" width="80%" class="border border-primary"><br>
    <div class="mt-2">
        <a  href="{{ url_for('download', filename=img_name) }}" class="btn btn-success">Download This</a>
        <span class="ml-3"></span>
        <a href="/" class="btn btn-primary">Generate Again</a>
    </div>
{% endif %}


<script type="text/javascript">

function toggleFileText(){
    if (document.getElementById('radio_file').checked) {
        document.getElementById('text').style.display = 'none';
        document.getElementById('file').style.display = 'block';
    } else {
        document.getElementById('text').style.display = 'block';
        document.getElementById('file').style.display = 'none';
    }
}

</script>

{% endblock %}